<div class="bs-sidebar hidden-print affix well" role="complementary">

<!--
    <h4>&nbsp;On this page</h4>
    <ul class="nav bs-sidenav">
    {% for toc_item in toc %}
        <li class="first-level {% if toc_item.active %}active{% endif %}"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
        {% for toc_item in toc_item.children %}
            <li class="second-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
            {% for toc_item in toc_item.children %}
                <li class="third-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </ul>

    <hr />
    -->

    <ul class="nav bs-sidenav">

    {% for nav_item in nav %}
    <li {% if nav_item.active %}class="active"{% endif %}>
        <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
        {% if nav_item.active %}
            <ul class="nav bs-sidenav">
            {% for toc_item in toc %}
                <!--
                <li class="first-level {% if toc_item.active %}active{% endif %}"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                -->
                {% for toc_item in toc_item.children %}
                    <li class="second-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                    {% for toc_item in toc_item.children %}
                        <li class="third-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endfor %}
    </ul>

</div>
